.footer {
    flex: 1 1 20vw;
    display: flex;

    text-align: center;
}

.sides {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
}

.count {
    composes: sides;
}

.timer {
    flex: 1 0 auto;
    position: relative;

    border: solid 1px #000;
    border-width: 0 1px;
}

.level {
    composes: sides;
}

.header,
.val {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 0;
    padding: 0;
}

.countHeader,
.levelHeader {
    composes: header;

    flex: 0 0 30%;
}

.countVal,
.levelVal {
    composes: val;

    flex: 0 0 70%;

    font-size: 3em;
}

.timerVal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 4em;
}