@value * as colors from "../colors.css";

.pads {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.quad {
    flex: 0 0 50%;
    overflow: hidden;

    position: relative;
}

.quad_1 {
    composes: quad;

    background: colors.one;
}
.quad_2 {
    composes: quad;

    background: colors.two;
}
.quad_3 {
    composes: quad;

    background: colors.three;
}
.quad_4 {
    composes: quad;

    background: colors.four;
}

.button {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;

    cursor: pointer;

    color: #fff;
    font-size: 40vw;
    text-shadow: 0 0 1px #000, 2px 2px 2px color(#000 a(40%));

    border: none;
    -webkit-tap-highlight-color: transparent;

    background: transparent;

    @media (orientation: landscape) {
        font-size: 40vh;
    }

    &:disabled {
        cursor: no-drop;
    }

    &:focus {
        outline: none;
    }
}

.ripple {
    composes: ripple from "./ripple.css";
}

.alight {
    position: absolute;
    width: 100%;
    height: 100%;

    animation: alight 1s;
    background: #fff;
}

@keyframes alight {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.01);
    }
}