@value * as colors from "../colors.css";

.pads {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.pad {
    flex: 0 0 50%;

    cursor: pointer;

    color: #fff;
    font-size: 5em;
    text-shadow: 0 0 1px #000, 2px 2px 2px color(#000 a(40%));

    border: none;

    transition: background 0.15s;
}

.pad:disabled {
    cursor: no-drop;
}

.pad:focus {
    outline: none;
}

.pad_1,
.pad_2,
.pad_3,
.pad_4 {
    composes: pad;
}

.pad_1 {
    background: colors.one;
}
.pad_2 {
    background: colors.two;
}
.pad_3 {
    background: colors.three;
}
.pad_4 {
    background: colors.four;
}

.padAlight_1,
.padAlight_2,
.padAlight_3,
.padAlight_4 {
    composes: pad;
}

.padAlight_1,
.pad_1:active {
    background: color(colors.one w(80%));
}
.padAlight_2,
.pad_2:active {
    background: color(colors.two w(80%));
}
.padAlight_3,
.pad_3:active {
    background: color(colors.three w(80%));
}
.padAlight_4,
.pad_4:active {
    background: color(colors.four w(80%));
}
