html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

html, button {
    font: normal 16px/1 "Russo One", sans-serif;
}

body {
    min-height: 100%;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.ticker {
    position: absolute;
    top: 0;
    left: 0;

    font: normal 12px/1 monospace;
    background: #fff;
    border-radius: 2px;
    opacity: 0.4;
}
